.bta-F {
  margin-left: 50px;
  width: 100px;
  height: 36px;
  padding-top: 6px;
  border: 1px black;
  text-decoration: none;
  text-align: center;
  background-color: gainsboro;
}
.bta-n {
  margin-left: 28px;
  width: 140px;
  height: 36px;
  padding-top: 6px;
  border: 1px black;
  text-decoration: none;
  text-align: center;
  background-color: gainsboro;
}
.bt{

}
.box {
  display: inline-grid;
  width: 83px;
  height: 32px;
  background-color:greenyellow;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  padding-top: 6px;
  border: none;
  margin: 9px;
  text-align: center;
}
.card {
  width: 200px;
  height: 160px;
  line-height: 154px;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  margin: 0 auto;
  box-shadow: 0px 0px 5px #ddd;
}
.card img {
  max-width: 100%;
  max-height: 70%;
}

.colours{
  color: cornflowerblue;;
}

.pf-bxc{
  margin-top: -32%;
  margin-left: 17%;
}
.List {
  display: inline list-item;
  margin-left: 8%;
  color: cornflowerblue;
}
/*.pf-bxc ::placeholder {
  color: #181B1D;
  font-size: 14px;
}*/
